body {
    height: 400px;
    width: 250px;
    background-color: #ddd;
}

#tabs {
    padding : 5px;
}

.title {
    font-weight : bold;
    font-size: 18px;
}

.tab-jump-button {
    width: 240px;
    height: 35px;
    text-align: left;
    padding: 10px;
    margin: 2px;
    font-size: 15px;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    border-color: white;
    border-width: thin;
}

.tab-jump-button:hover {
    box-shadow: 1px 1px #56a;
}