body {
    height: 400px;
    width: 250px;
}

#tabs {
    padding : 5px;
}

.title {
    font-weight : bold;
    font-size: 18px;
}

.tab-jump-button {
    width: 100%;
    background: #56a;
    color: white;
    text-align: left;
    padding: 2px;
    margin: 2px;
    white-space: normal;
    font-size: 15px;
    border-radius: 10px 0px 10px 0px;
    height: 45px !important;
}

.tab-jump-button:hover {
    background: #887;
}